@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.btn-pop {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-pop:hover {
    transform: scale(1.1); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
}
